body {
    background-color: #F5F5DC;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.aboutbox {
    display: flex;
    align-items: center;  
    gap: 30px; 
    max-width: 1000px; 
    margin: 0px auto;
    padding: 25px;
    background-color: #D8CAB8;
    border-radius: 15px;
}

.me {
    border-radius: 25px;
    width: 350px;
    height: 450px;
    border: 5px solid black;
    padding: 5px;
}

/* Text */
.aboutme {
    /*https://www.w3schools.com/cssref/css3_pr_flex.php*/
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px; 
    background-color: #637891; 

}



nav {
    padding: 25px;
    display: flex;
    justify-content: right;
    text-transform: uppercase;
}

.logo{
    justify-content: left;
    padding: 0px;
}

nav a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

.navcss{
    font-weight: bold;
}


/* hover */

/*code from Professor Oakley*/ 
.navcss:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.artimg:hover img {
    border: 5px solid #458CCB;
    padding: 4px;
}

.travelimg:hover {
    border: 5px solid #458CCB;
    padding: 3px;
}

.foodimg:hover{
    border: 5px solid #458CCB;
    padding: 3px; 
}


/*Home*/

/* from https://www.w3schools.com/cssref/pr_background-image.php */
.bgimg{
    background-image: url('../img/huntingtonbeach.jpg');
    background-repeat: no-repeat;
    padding: 0px ;
    height: 250px;
    margin-bottom: 750px;
}

.welcome {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    font-weight: 900;
}

/* Inspiration Page CSS */
.pageintro{
    margin-left: 105px;
    font-size: 22px;
}

.artistsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #D8CAB8;
    margin: 50px 100px;
    border-radius: 25px;
}


.artists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin: 0px 100px;
}


.artisttext {
    flex: 1;
    margin-right: 25px; 
}

.artimg img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    
}

.warholimg{
    padding-right: 20px;
}

.imginfo{
    padding-top: 20px;
}

.link{
    text-decoration: none;
}


/* Top Fives Code*/

.travel, .food {
    align-items: center;  
    max-width: 950px; 
    margin: 50px auto;
    padding: 25px;
    background-color: #D8CAB8;
    border-radius: 15px;
}

.twosections {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0px 15px;
}

li{
    font-weight: 700;
    padding-top: 25px;
}

li a{
    text-decoration: none;
}

.travelimg{
    margin-right: 10px;
}

.foodimg{
    padding-right: 10px;
}

.introheader{
    margin-top: 50px;
    font-size: 22px;  
    text-align: center;
}

/*Code that Applies to All Pages*/
img{
    border-radius: 25px;
}

a{
    text-decoration: none;
}

.footerstyle{
    background-color: #637891;
    padding: 10px;    
}

.email{
    text-decoration: none;
}

.contactme{
    margin-left: 100px;
    color: white;
}

p {
    padding: 0px;
}

.moreinfo{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}